
<div class="container">
<form class="example-container mat-elevation-z24" [formGroup]="userForm">

  <mat-label>Dane użytkownika</mat-label>

  <mat-form-field>
    <input matInput placeholder="Imię" formControlName="name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nazwisko" name="surname" formControlName="surname" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Login" name="login" formControlName="login" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Hasło" name="password" type="password" formControlName="password" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail" name="email" formControlName="email" required>
    <mat-error *ngIf="userForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="PESEL" name="pesel" formControlName="pesel" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nr dokumentu" name="idNumber" formControlName="idNumber" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Typ użytkownika" name="type" formControlName="type" required>
      <mat-option value="driver">Kierowca</mat-option>
      <mat-option value="forwarder">Spedytor</mat-option>
      <mat-option value="client">Zleceniodawca</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" *ngIf="!(userForm.get('type').value=='forwarder')" (click)="saveUserClick()" [disabled]="userForm.invalid">Zapisz</button>
</form>

<form class="example-container mat-elevation-z24" *ngIf="userForm.get('type').value=='forwarder'" [formGroup]="companyForm">
  <mat-form-field>
    <input matInput placeholder="Nazwa firmy" formControlName="name" name="nameCo" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="NIP" formControlName="nip" name="nip" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Miejscowość" formControlName="city" name="city" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Kod pocztowy" formControlName="zipCode" name="zipCode" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ulica" formControlName="street" name="street">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="FAX" formControlName="fax" name="fax">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" name="email" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="REGON" formControlName="regon" name="regon" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="KRS" formControlName="krs" name="krs" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nr telefonu" formControlName="phone" name="phone" required>
  </mat-form-field>

  <button mat-raised-button color="primary" *ngIf="userForm.get('type').value=='forwarder'" (click)="saveForwarderClick()" [disabled]="userForm.invalid || companyForm.invalid">Zapisz</button>
</form>


</div>
<br />
<br />
<br />
<br />
<br />
<br />
