#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

.header {
  width: 960px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
}

.footer {
  width: 960px;
  margin: 20px;
  text-align: center;
}

.square {
  width: 50%;
  float: left;
}

.title{
  width: 800px;
  float: left;
}

.logoutbutton{
  float: left;
  border-style: solid;
  border-color: #4d7fff;
  border-radius: 25%;
  transition: 200ms;
  background-color: white;
  width: 60px;
  height: 50px;
}

.logoutbutton:hover{
  background-color: #4d7fff;
  transition: 200ms;
}

.tile {
  padding: 20px;
  margin: 30px;
  float: left;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color: #4d7fff;
  border-width: 2px;
  transition: 200ms;
}

.tile:hover {
  background-color: #4d7fff;
  transition: 200ms;
}


.tile-mid {
  width: 140px;
  height: 120px;
}

.tile-data {
  width: 350px;
  height: 530px;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.tile-data:hover{
  background-color: #fafafa;
}

h1 {
  margin-top: -35px;
  background-color: #fafafa;
  font-size: 25px;
  font-weight: normal;
  width: 130px;
}

.material-icons{
  font-size: 50px;
}

.button{
  margin: 15px;
  margin-top: 30px;
  text-align: center;
  border-style: solid;
  border-color: #4d7fff;
  border-width: 2px;
  transition: 200ms;
  border-radius: 10px;
  width: 140px;
  float: left;
}

.button:hover {
  background-color: #4d7fff;
  transition: 200ms;
}

a:link    {color:#000;
text-decoration: none;}
a:visited {color:#000;}
a:hover   {color:#000;}
a:active  {color:#000;}
