<div id="container">
  <div class="header">
    <div class="title">
      Witaj {{name}}!
    </div>

    <div class="logoutbutton" (click)="logout()">
      <i class="material-icons">input</i>
    </div>

  </div>

  <div class="square">

    <a routerLink="./show-transports" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">public</i><br>
        Wyświetl przejazdy
      </div>
    </a>

    <a routerLink="./available-orders" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">event</i><br>
        Dostępne zlecenia
      </div>
    </a>

    <a routerLink="./show-drivers"  routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">people</i><br>
        Wyświetl kierowców
      </div>
    </a>

    <a routerLink="./show-trucks" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">local_shipping</i><br>
        Wyświetl pojazdy
      </div>
    </a>

    <a routerLink="./show-vacations" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">flight</i><br>
        Kierowcy na urlopie
      </div>
    </a>

    <a routerLink="./add-drivers" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">person_add</i><br>
        Zatrudnij kierowców
      </div>
    </a>

  </div>

  <div class="square">
    <div class="tile tile-data">
     <h1>Moje dane</h1>
      {{name}}<br>
      {{email}}<br>
      PESEL: {{pesel}}<br><br>
      {{firmName}}<br>
      {{firmAdress}}<br>
      {{city}} <br>
      Tel. {{firmPhone}}<br>
      NIP: {{nip}}<br>
      {{firmEmail}}<br>
      FAX: {{fax}}<br>

      <a routerLink="./edit-profile" routerLinkActive="active">
        <div class="button">
          Edytuj moje dane
        </div>
      </a>

      <a routerLink="./edit-company" routerLinkActive="active">
      <div class="button">
        Edytuj dane firmy
      </div>
      </a>

    </div>
  </div>

  <div style="clear: both"></div>
  <div class="footer"></div>
</div>
