<mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
    <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="placeStart">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce startu</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.destination}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="destination">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce docelowe</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.destination}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="dateStart">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Data rozpoczęcia</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.dateStart}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="dateEnd">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Data zakończenia</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.dateEnd}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="distance">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Dystans</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.distance}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="burnedFuel">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Spalone paliwo</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.burnedFuel}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="driverSalary">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Zapłata dla kierowcy</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.driverSalary}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="profit">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Zysk</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.profit}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="isFinished">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Czy ukończony?</mat-header-cell>
    <mat-cell *matCellDef="let transport">
      {{transport.isFinished}}
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
    <mat-cell *matCellDef="let user" >
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Edytuj</span>
        </button>
        <button mat-menu-item (click)="deleteUserClick(user.pesel)">
          <mat-icon>edit</mat-icon>
          <span>Usuń</span>
        </button>
      </mat-menu>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef>Srednia</mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-footer-row *matFooterRowDef="displayedColumns;"></mat-footer-row>
</mat-table>
