.example-container {
  padding: 30px;
  margin-top: 50px;
  height: 200px;
  overflow: auto;
}

table {
  width: 100%;
}

mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
