<div class="mat-elevation-z8" fxLayout="column">

  <mat-label style="margin-top: 10px" fxLayoutAlign="center">Nowa data:</mat-label>

  <form class="driving-licence-form" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between" [formGroup]="medicalExaminationForm">

    <mat-form-field>
      <input matInput placeholder="Data" formControlName="medicalExaminationExpiryDate" >
    </mat-form-field>

  </form>

  <div class="save-date" fxLayoutAlign="center">
    <button mat-raised-button style="width: 30%" color="primary" (click)="saveNewDateClick()"  >Zapisz</button>
  </div>
</div>
