<div class="mat-elevation-z8" fxLayout="column">

  <mat-label style="margin-top: 10px" fxLayoutAlign="center">Dane pojazdu:</mat-label>

    <form class="vehicle-form" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between" [formGroup]="vehicleForm">

        <div fxLayout="column">

          <mat-form-field>
            <input matInput placeholder="VIN" formControlName="vin" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Marka" formControlName="brand" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Model" formControlName="model" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Moc" formControlName="power" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Pojemność zbiornika paliwa" formControlName="tankCapacity" required>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Ładowność" formControlName="vehicleCapacity" required>
          </mat-form-field>
        </div>

        <div fxLayout="column">

          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Data ważności przeglądu" formControlName="serviceCheckExpiryDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Data ważności ubezpieczenia" formControlName="insuranceExpiryDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Przebieg" formControlName="mileage" required>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Typ pojazdu" formControlName="type">
              <mat-option value="TRUCK">Ciągnik</mat-option>
              <mat-option value="STANDARD_TAUTLINER">Naczepa - plandeka</mat-option>
              <mat-option value="REFRIGERATED_TRAILER">Naczepa - chłodnia</mat-option>
              <mat-option value="MEGA_TRAILER">Naczepa - plandeka typu MEGA</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Numer rejestracyjny" name="registrationNumber" formControlName="registrationNumber" required>
          </mat-form-field>
        </div>

    </form>

    <div class="save-vehicle" fxLayoutAlign="center">
      <button mat-raised-button style="width: 30%" color="primary" (click)="saveVehicleClick()" [disabled]="vehicleForm.invalid" >Zapisz</button>
    </div>
</div>
