<div class="container">

  <h1>Ukończone transporty</h1>

  <a routerLink="/driver" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="placeStart">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce startu</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport?.order.loadingPlace}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce docelowe</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport?.order.destination}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data startu</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport?.order.loadingDate | date: 'dd/MM/yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data zakończenia</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport?.order.unloadingDate | date: 'dd/MM/yyyy'}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Dystans</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport?.order.distance}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>
