<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="flase"
      mode="side"
      >
    <mat-toolbar class="sidenavToolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <span style="margin-left: 30px">Transport Company</span>
    </mat-toolbar>
    <!-- !!!!!!!  Add Content Here !!!!!!!-->

    <nav>
    </nav>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
