.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.luxHomeLink {
  text-decoration: none;
  color: #FFFAFA;
}
.luxHomeLink:hover {
  color: gray;
}

.sidenavButton:hover {
  color: gray;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenavToolbar {
  box-shadow: 0 5px 5px #999;
  z-index: 1;
  position: relative;
}
