<div class="container">

  <a routerLink="/customer" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>

  <form class="example-container mat-elevation-z24" [formGroup]="orderForm">

    <mat-label>Dodaj zlecenie</mat-label>

    <mat-form-field>
      <input matInput placeholder="Miejsce startu" name = "loadingPlace" formControlName="loadingPlace" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Miejsce docelowe" name="destination" formControlName="destination" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerStart" placeholder="Data rozpoczęcia" name = "loadingDate" formControlName="loadingDate">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" placeholder="Data zakończenia" name = "unloadingDate" formControlName="unloadingDate" >
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Dystans" name="distance" formControlName="distance" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cena" name="price" formControlName="price" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Opis" name="description" formControlName="description" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary"  (click)="saveOrderClick()" >Zapisz</button>
  </form>
</div>
