
<div id="container">
  <div class="header">
    <div id="logo">Nagłówek</div>
  </div>

  <div class="square">

    <a routerLink="" routerLinkActive="active">
      <div class="tile tile-mid tile-blue">
        <i class="icon-commerical-building"><br />Ciężarówki</i>
      </div>
    </a>

    <div class="tile tile-mid tile-blue">
      <i class="icon-town-hall"><br />Zlecenia</i>
    </div>

    <a routerLink="/shipper" routerLinkActive="active">
      <div class="tile tile-mid tile-grey">
        Spedytor
      </div>
    </a>

    <a routerLink="/users" routerLinkActive="active">
      <div class="tile tile-mid tile tile-green">
        <i class="icon-users"><br />Użytkownicy</i>
      </div>
    </a>

  </div>

  <div class="square">
    <a routerLink="/driver" routerLinkActive="active">
      <div class="tile tile-sm tile-yellow">Kierowca</div>
    </a>
    <a routerLink="/login" routerLinkActive="active">
      <div class="tile tile-sm tile-grey">Logowanie</div>
    </a>
    <a routerLink="/customer" routerLinkActive="active">
      <div class="tile tile-sm tile-grey">Zleceniodawca</div>
    </a>
    <div class="tile tile-sm tile-green"></div>
    <div class="tile tile-sm tile-yellow"></div>
    <div class="tile tile-sm tile-yellow"></div>
    <div class="tile tile-sm tile-grey"></div>
    <div class="tile tile-sm tile-green"></div>
    <div class="tile tile-big tile-orange"></div>
  </div>
  <!--<i class="demo-icon icon-users"></i>-->
  <!--<i class="demo-icon icon-commerical-building"></i>-->
  <!--<i class="demo-icon icon-town-hall"></i>-->
  <div style="clear: both"></div>
  <div class="footer"></div>
</div>
