


#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}

.header {
  width: 960px;
  margin: 20px;
  text-align: center;
}

.footer {
  width: 960px;
  margin: 20px;
  text-align: center;
}

.square {
  width: 50%;
  float: left;
}

.tile {
  padding: 20px;
  margin: 10px;
  float: left;
  text-align: center;
}

.tile-sm {
  width: 65px;
  height: 45px;
}

.tile-mid {
  width: 190px;
  height: 150px;
}

.tile-big {
  width: 440px;
  height: 150px;
}

.tile-blue {
  background-color: #3095D3;
}

.tile-blue:hover {
  background-color: #2085C3;
}

.tile-grey {
  background-color: #666666;
}

.tile-grey:hover {
  background-color: #565656;
}

.tile-green {
  background-color: #93C748;
}

.tile-green:hover {
  background-color: #83B738;
}

.tile-orange {
  background-color: #FF7F50;
}

.tile-orange:hover {
  background-color: #EF6F40;
}

.tile-yellow {
  background-color: #FFD700;
}

.tile-yellow:hover {
  background-color: #ECC400;
}

a:visited {
  color: #F0F0F0;
}
