<div class="container">

  <h1>Twoje pojazdy</h1>

  <div class="buttons">
    <a routerLink="/shipper" routerLinkActive="active">
      <button mat-raised-button color="primary">Powrót</button>
    </a>

      <button mat-raised-button style="margin-left: 80%" (click)="onOpenAddTruckDialog()">
        Dodaj pojazd
      </button>

    <button mat-raised-button (click)="refresh()" style="margin-left: 20px">
      Odśwież
    </button>
  </div>


  <div class="table-container">
  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vin">
      <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 200px;">Nr VIN</mat-header-cell>
      <mat-cell *matCellDef="let truck" style="flex: 0 0 200px;">
        {{truck.vin}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Marka</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.brand}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Model</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.model}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Moc</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.power}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tankCapacity">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Pojemność zbiornika paliwa</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.tankCapacity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="combustion">
      <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 75px;">Spalanie</mat-header-cell>
      <mat-cell *matCellDef="let truck" style="flex: 0 0 75px;">
        {{truck.combustion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vehicleCapacity">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Pojemność pojazdu</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.vehicleCapacity}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serviceCheckExpiryDate">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Przegląd do</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.serviceCheckExpiryDate | date : 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="insuranceExpiryDate">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Ubezpieczenie do</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.insuranceExpiryDate | date : 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 120px;">Stan</mat-header-cell>
      <mat-cell *matCellDef="let truck" style="flex: 0 0 120px;">
        {{truck.stateDescr}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mileage">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Przebieg</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.mileage}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 170px;">Typ</mat-header-cell>
      <mat-cell *matCellDef="let truck" style="flex: 0 0 170px;">
        {{truck.typeDescr}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Numer rejestracyjny</mat-header-cell>
      <mat-cell *matCellDef="let truck">
        {{truck.registrationNumber}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
      <mat-cell *matCellDef="let truck" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteVehicle(truck.vin)">
            <mat-icon>delete</mat-icon>
            <span>Usuń</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
  </div>

</div>
