<div class="container">

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>

  <form class="example-container mat-elevation-z24" [formGroup]="companyForm">

    <mat-label>Edytuj dane firmy</mat-label>

    <mat-form-field>
      <input matInput placeholder="Nazwa firmy" formControlName="name" name="nameCo" value={{name}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Miejscowość" formControlName="city" name="city" value = {{city}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Kod pocztowy" formControlName="zipCode" name="zipCode" value = {{zipcode}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Ulica" formControlName="street" name="street" value = {{street}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="FAX" formControlName="fax" name="fax" value = {{fax}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email" name="email" value = {{email}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nr telefonu" formControlName="phone" name="phone" value = {{phone}}>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveForwarderClick()" [disabled]="companyForm.invalid">Zapisz</button>
  </form>
</div>
