/*.example-container {*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*.example-container {*/
/*width: 1000px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

h1{
  text-align: center;
  font-size: 40px;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 60px;
  width: 350px;
  padding: 20px;
  margin-bottom: 50px;
  float: left;
  clear: right;
}

.container {
  /*display: block;*/
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 100%;
}

/*.example-container > * {*/
/*width: 100%;*/
/*}*/

.save-user{
  width: 100px;
  float: right;
}
