<div class="container">

  <h1>Twoje statystyki</h1>

  <a routerLink="/driver" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="loadingPlace">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce startu</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.order?.loadingPlace}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce docelowe</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.order?.destination}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="dateStart">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data rozpoczęcia</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.dateStart}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>Średnia</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data zakończenia</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.dateEnd}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>Średnia</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Dystans</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.order?.distance}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{stats.distanceSum | number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="burnedFuel">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Spalone paliwo</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.burnedFuel}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{stats.burnedFuel | number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="driverSalary">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Zarobek</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.driverSalary}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{stats.salaryAvg | number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <!--<ng-container matColumnDef="burnedFuel">-->
      <!--<mat-header-cell *matHeaderCellDef class="TableColHead">Spalone paliwo</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let stat">-->
        <!--{{stat.burnedFuel}}-->
      <!--</mat-cell>-->
      <!--<mat-footer-cell *matFooterCellDef>Średnia</mat-footer-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="salaryAvg">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Srednie wynagrodzenie na transport</mat-header-cell>
      <mat-cell *matCellDef="let stat">
        {{stat.salaryAvg}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{stats.salaryAvg | number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <!--<ng-container matColumnDef="distanceSum">-->
      <!--<mat-header-cell *matHeaderCellDef class="TableColHead">Suma przejechanych kilometrów</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let stat">-->
        <!--{{stat.distanceSum}}-->
      <!--</mat-cell>-->
      <!--<mat-footer-cell *matFooterCellDef>{{stats.distanceSum}}</mat-footer-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="combustionAvg">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Srednie spalanie na 100km</mat-header-cell>
      <mat-cell *matCellDef="let stat">
        {{stat.combustionAvg}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{stats.combustionAvg}}</mat-footer-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <mat-footer-row  *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
  </mat-table>
</div>
