<div class="container">

  <h1>Urlopy</h1>

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Imię</mat-header-cell>
      <mat-cell *matCellDef="let vacation">
        {{vacation.driver.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Nazwisko</mat-header-cell>
      <mat-cell *matCellDef="let vacation">
        {{vacation.driver.surname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateFrom">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Od</mat-header-cell>
      <mat-cell *matCellDef="let vacation">
        {{vacation.dateFrom | date: 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateTo">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Do</mat-header-cell>
      <mat-cell *matCellDef="let vacation">
        {{vacation.dateTo | date: 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Powód</mat-header-cell>
      <mat-cell *matCellDef="let vacation">
        {{vacation.reason}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>
