.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 35%;
}

.example-full-width {
  width: 100%;
}

.remind-password{
  padding-left: 35%;
  float: left;
}

.register{
  padding-left: 59%;
}

.submit{
  padding-left: 48%;
  margin-top: 20px;
}

h1{
  text-align: center;
  font-size: 60px;
  font-weight: normal;
}
