<h1>Witamy w serwisie!</h1>
<form class="login-form" [formGroup]="loginForm" (keyup.enter)="onLogIn()" >
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Login" formControlName="login" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Hasło" formControlName="password" required>
  </mat-form-field>
</form>
<br>

<div class="square">

  <div class="remind-password">
    <button mat-raised-button color="warn" (click)="onLogIn()">Zaloguj</button>
  </div>
  <a routerLink="/register" routerLinkActive="active">
    <div class="register">
      <button mat-raised-button color="warn">Zarejestruj!</button>
    </div>
  </a>
</div>


