<div class="add-user-dialog">

    <mat-horizontal-stepper [linear]="true" #stepper>
      <!--
          Dane konta
      -->
      <mat-step [stepControl]="accountForm">
        <form class="add-user-form mat-elevation-z8" [formGroup]="accountForm" fxLayout="column" fxLayoutAlign="center">

          <ng-template matStepLabel>Wypełnij dane konta</ng-template>

          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Login" name="login" formControlName="login" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Hasło" name="password" type="password" formControlName="password" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="E-mail" name="email" formControlName="email" required>
              <mat-error *ngIf="userForm.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Typ użytkownika" formControlName="type" required>
                <mat-option value="driver">Kierowca</mat-option>
                <mat-option value="forwarder">Spedytor</mat-option>
                <mat-option value="client">Zleceniodawca</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayoutAlign="end">
            <!--<button mat-button matStepperPrevious>Back</button>-->
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!--
        Dane użytkownika
      -->

      <mat-step [stepControl]="userForm">
        <form class="add-user-form mat-elevation-z8" [formGroup]="userForm" fxLayout="column" fxLayoutAlign="center">
          <ng-template matStepLabel>Uzupełnij dane użytkownika</ng-template>

          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Imię" formControlName="name" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nazwisko" name="surname" formControlName="surname" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="PESEL" name="pesel" formControlName="pesel" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nr dokumentu" name="idNumber" formControlName="idNumber" required>
            </mat-form-field>
          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext *ngIf="accountForm.get('type').value=='forwarder' || accountForm.get('type').value=='driver'">Next</button>
            <button mat-button matStepperNext
                    [disabled]="userForm.invalid || accountForm.invalid"
                    *ngIf="accountForm.get('type').value=='client'"
                    (click)="submitUser()">
              Zatwierdź
            </button>
          </div>
        </form>
      </mat-step>


      <!--
        Dane Kierowcy
      -->

      <mat-step [stepControl]="driverForm" *ngIf="accountForm.get('type').value=='driver'">
        <form class="add-user-form mat-elevation-z8" [formGroup]="driverForm" fxLayout="column" fxLayoutAlign="center">
          <ng-template matStepLabel>Uzupełnij dane użytkownika</ng-template>

          <div fxLayout="column">
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Data wygaśnięcia prawa jazdy" formControlName="drivingLicenceExpiryDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Data wygaśnięcia badań lekarskich" formControlName="medicalExaminationExpiryDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Stan" formControlName="state">
                <mat-option value="ACTIVE">Aktywny</mat-option>
                <mat-option value="FIRED">Zwolniony</mat-option>
                <mat-option value="SUSPENDED">Zawieszony</mat-option>
                <mat-option value="UNEMPLOYED">Bezrobotny</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext *ngIf="accountForm.get('type').value=='forwarder'">Next</button>
            <button mat-button matStepperNext
                    [disabled]="userForm.invalid || accountForm.invalid || driverForm.invalid"
                    (click)="submitDriver()">
              Zatwierdź
            </button>
          </div>
        </form>
      </mat-step>

      <!--
        Dane firmy
      -->

      <mat-step [stepControl]="companyForm" *ngIf="accountForm.get('type').value=='forwarder'">
        <div class="add-user-form mat-elevation-z8" >
          <form class="add-user-form " [formGroup]="companyForm" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between">
            <ng-template matStepLabel>Uzupełnij dane firmy</ng-template>

            <div fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="Nazwa firmy" formControlName="name" name="nameCo" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="NIP" formControlName="nip" name="nip" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Miejscowość" formControlName="city" name="city" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Kod pocztowy" formControlName="zipCode" name="zipCode" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Ulica" formControlName="street" name="street">
              </mat-form-field>
            </div>

            <div fxLayout="column">
              <mat-form-field>
                <input matInput placeholder="FAX" formControlName="fax" name="fax">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="E-mail" formControlName="email" name="email" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="REGON" formControlName="regon" name="regon" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="KRS" formControlName="krs" name="krs" required>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Nr telefonu" formControlName="phone" name="phone" required>
              </mat-form-field>
            </div>
          </form>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="userForm.invalid || accountForm.invalid || companyForm.invalid" (click)="submitForwarder()">Zatwierdź</button>
          </div>
        </div>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        {{endText}}
        <div fxLayoutAlign="space-betweend">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Dodaj kolejnego użytkownika</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</div>
  <!--<form class="example-container mat-elevation-z24" [formGroup]="userForm">-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Login" name="login" formControlName="login" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Hasło" name="password" type="password" formControlName="password" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="E-mail" name="email" formControlName="email" required>-->
      <!--<mat-error *ngIf="userForm.invalid">{{getErrorMessage()}}</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Typ użytkownika" name="type" formControlName="type" required>-->
        <!--<mat-option value="driver">Kierowca</mat-option>-->
        <!--<mat-option value="forwarder">Spedytor</mat-option>-->
        <!--<mat-option value="client">Zleceniodawca</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Imię" formControlName="name" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Nazwisko" name="surname" formControlName="surname" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="PESEL" name="pesel" formControlName="pesel" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Nr dokumentu" name="idNumber" formControlName="idNumber" required>-->
    <!--</mat-form-field>-->

    <!--<button mat-raised-button color="primary" *ngIf="!(userForm.get('type').value=='forwarder')" (click)="saveUserClick()" [disabled]="userForm.invalid">Zapisz</button>-->
  <!--</form>-->

  <!--<form class="example-container mat-elevation-z24" *ngIf="userForm.get('type').value=='forwarder'" [formGroup]="companyForm">-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Nazwa firmy" formControlName="name" name="nameCo" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="NIP" formControlName="nip" name="nip" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Miejscowość" formControlName="city" name="city" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Kod pocztowy" formControlName="zipCode" name="zipCode" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Ulica" formControlName="street" name="street">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="FAX" formControlName="fax" name="fax">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="E-mail" formControlName="email" name="email" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="REGON" formControlName="regon" name="regon" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="KRS" formControlName="krs" name="krs" required>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Nr telefonu" formControlName="phone" name="phone" required>-->
    <!--</mat-form-field>-->

    <!--<button mat-raised-button color="primary" *ngIf="userForm.get('type').value=='forwarder'" (click)="saveForwarderClick()" [disabled]="userForm.invalid || companyForm.invalid">Zapisz</button>-->
  <!--</form>-->


<br />
<br />
<br />
<br />
<br />
<br />
