/*.example-container {*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/

/*.example-container {*/
  /*width: 1000px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
/*}*/


.example-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: auto;
  width: 260px;
  padding: 20px;
  margin-bottom: 50px;
  float: left;
  clear: right;
}

.container {
  /*display: block;*/
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 100%;
}

/*.example-container > * {*/
  /*width: 100%;*/
/*}*/

.save-user{
  width: 100px;
  float: right;
}

.add-user-dialog {

}

.add-user-form {
  padding: 20px;
}
