<div class="container">

  <a routerLink="/shipper/available-orders/" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>

  <form class="example-container mat-elevation-z24" [formGroup]="transportForm" >

    <mat-label>Uzupełnij dane aby przyjąć zlecenie</mat-label>

    <mat-form-field>
      <input matInput placeholder="Zapłata dla kierowcy" formControlName="driverSalary" required>
    </mat-form-field>

    <mat-label>Kierowca</mat-label>
    <mat-form-field>
      <mat-select placeholder="Wybierz kierowcę do wykonania zlecenia" formControlName="driver">
        <mat-option *ngFor="let driver of drivers" [value]="driver">
          {{driver.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label>Pojazd</mat-label>
    <mat-form-field>
      <mat-select placeholder="Wybierz pojazd do wykonania zlecenia" formControlName="vehicle">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
          {{vehicle.registrationNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveTransportClick()">Zapisz</button>
  </form>
</div>
