<div class="container">

  <a routerLink="/driver" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>


  <form class="example-container mat-elevation-z24" [formGroup]="repairForm">

    <mat-label>Zgłoś usterkę</mat-label>
    <br>

    <mat-form-field>
      <mat-select placeholder="Numer rejestracyjny pojazdu" formControlName="vehicleVin">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.vin">
          {{vehicle.registrationNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Szacowany koszt"  formControlName="cost" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Opis"  formControlName="description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerFrom" placeholder="Data zgłoszenia" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerTo" placeholder="Przewidywana data zakończenia" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="reportFailureClick()">Zapisz</button>
  </form>

</div>
