<div class="container">

  <a routerLink="/driver" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>


  <form class="example-container mat-elevation-z24" [formGroup]="vacationForm">

    <mat-label>Wyślij wniosek o urlop</mat-label>
    <br>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Data rozpoczęcia urlopu" formControlName="dateFrom"required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Data zakończenia urlopu" formControlName="dateTo"required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Powód" name="reason" formControlName="reason" required></textarea>
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="saveClick()">Wyślij</button>
  </form>

</div>
