<div class="container">

  <h1>Dostępni kierowcy</h1>

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Name</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{user.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Surname</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{user.surname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="TableColHead">E-mail</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{user.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Login</mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{user.login}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
      <mat-cell *matCellDef="let user" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="makeDriverHired(user.pesel)">
            <mat-icon>person_add</mat-icon>
            <span>Zatrudnij</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</div>
