<div class="container">

  <h1>Twoje przejazdy</h1>

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="relation">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Relacja</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.order?.destination + ' - ' + transport.order?.loadingPlace}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="burnedFuel">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Spalone paliwo</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.burnedFuel}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="driverSalary">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Zapłata dla kierowcy</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.driverSalary}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profit">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Zysk</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.profit}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="driver">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Kierowca</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.driver?.name + ' ' + transport.driver?.surname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isFinished">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Czy ukończony?</mat-header-cell>
      <mat-cell *matCellDef="let transport">
        {{transport.isFinished}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>
