<div class="container">

  <a routerLink="/shipper/show-trucks/" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>

  <form class="example-container mat-elevation-z24" >

    <mat-label>Wpisz dane pojazdu</mat-label>

    <mat-form-field>
      <input matInput placeholder="Marka" formControlName="brand" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Model" name="model" formControlName="model" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Moc" name="power" formControlName="power" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pojemność zbiornika paliwa" name="tankCapacity"  formControlName="tankCapacity" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Ładowność" name="vehicleCapacity" formControlName="vehicleCapacity" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Data ważności przeglądu" name="serviceCheckExpiryDate" formControlName="serviceCheckExpiryDate" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Data ważności ubezpieczenia" name="insuranceExpiryDate" formControlName="insuranceExpiryDate" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Przebieg" name="mileage" formControlName="mileage" required>
    </mat-form-field>

    <mat-label>Typ pojazdu</mat-label>
    <mat-form-field>
      <mat-select [(value)]="selected" [formControl]="type">
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Numer rejestracyjny" name="registrationNumber" formControlName="registrationNumber" required>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveVehicleClick()" [disabled]="vehicleForm.invalid">Zapisz</button>
  </form>
</div>
