
<div id="container">
  <div class="header">
    <div class="title">
      Witaj {{name}}!
    </div>

    <div class="logoutbutton" (click)="logout()">
      <i class="material-icons">input</i>
    </div>

  </div>

  <div class="square">

    <a routerLink="/customer/show-orders" routerLinkActive="active">
      <div class="tile tile-big">
        <i class="material-icons">date_range</i>
        <br/>
        <br/>
        Wyświetl przejazdy
      </div>
    </a>

    <a routerLink="/customer/add-order" routerLinkActive="active">
      <div class="tile tile-big">
        <i class="material-icons">control_point</i>
        <br/>
        <br/>
        Dodaj zlecenia
      </div>
    </a>

  </div>

  <div class="square">

    <div class="tile tile-data">

      <h1>Moje dane</h1>
      {{name}}<br>
      {{email}}<br>
      PESEL: {{pesel}}<br><br><br>


      <a routerLink="/customer/edit-customer" routerLinkActive="active">
        <div class="button">
          Edytuj moje dane
        </div>
      </a>

    </div>

  </div>

  <div style="clear: both"></div>
  <div class="footer"></div>
</div>
