<div class="container">

  <h1>Dostępne zlecenia</h1>

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{i+1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="loadingPlace">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce załadunku</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.loadingPlace}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Miejsce docelowe</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.destination}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loadingDate">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data załadunku</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.loadingDate | date: 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unloadingDate">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Data rozładunku</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.unloadingDate | date: 'dd-MM-yyyy'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Dystans</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.distance}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Cena</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.price}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
      <mat-cell *matCellDef="let order" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onAcceptOrder(order)">
              <mat-icon>add</mat-icon>
              <span>Przyjmij zlecenie</span>
            </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

</div>
