#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  background-color: #fafafa;
}

.header {
  width: 960px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
}

.footer {
  width: 960px;
  margin: 20px;
  text-align: center;
}

.square {
  width: 50%;
  float: left;
}

.title{
  width: 800px;
  float: left;
}

.logoutbutton{
  float: left;
  border-style: solid;
  border-color: #4d7fff;
  border-radius: 25%;
  transition: 200ms;
  background-color: white;
  width: 60px;
  height: 50px;
}

.logoutbutton:hover{
  background-color: #4d7fff;
  transition: 200ms;
}

.tile {
  padding: 20px;
  margin: 30px;
  float: left;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-color: #4d7fff;
  border-width: 2px;
  transition: 200ms;
}

.tile:hover {
  background-color: #4d7fff;
  transition: 200ms;
}


.tile-mid {
  width: 140px;
  height: 120px;
}

.tile-data {
  width: 350px;
  height: 540px;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

.tile-data:hover{
  background-color: #fafafa;
}

.tile-table{
  padding-top: 20px;
  margin: 30px;
  width: 430px;
  float: left;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color: #4d7fff;
  border-width: 2px;
  transition: 200ms;
}

.tile-table h1 {
  margin-top: -40px;
  margin-left: 20px;
  background-color: #fafafa;
  font-size: 25px;
  font-weight: normal;
  width: 220px;
}

.tile-data h1 {
  margin-top: -35px;
  background-color: #fafafa;
  font-size: 25px;
  font-weight: normal;
  width: 130px;
}

.material-icons{
  font-size: 50px;
}

.button{
  margin-left: 35px;
  margin-top: 30px;
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  border-style: solid;
  border-color: #4d7fff;
  border-width: 2px;
  transition: 200ms;
  border-radius: 10px;
  width: 280px;
  height: 40px;
}

.button:hover {
  background-color: #4d7fff;
  transition: 200ms;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.example-element-description {
  text-align: justify;
  padding: 16px;
}

a:link    {
  color:#000;
  text-decoration: none;
}
a:visited {color:#000;}
a:hover   {color:#000;}
a:active  {color:#000;}

