
<div id="container">
  <div class="header">
    <div class="title">
      Witaj {{name}}!
    </div>

    <div class="logoutbutton" (click)="logout()">
      <i class="material-icons">input</i>
    </div>

  </div>

  <div class="square">

    <div class="tile-table ">
      <h1>Najbliższe zlecenia</h1>

      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; index as i">
          <th mat-header-cell *matHeaderCellDef> {{labels[i]}} </th>
          <td mat-cell *matCellDef="let transport" > {{transport.order[column]}} </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let transport" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="transport == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description">
                Dystans: {{transport.order.distance}}km <br>
                {{transport.order.description}}
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </div>

    <a routerLink="/driver/show-transport-history" routerLinkActive="active">
        <div class="tile tile-mid">
          <i class="material-icons">today</i><br/>
          Wyświetl historię zleceń
        </div>
    </a>

    <a routerLink="/driver/show-statistics" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">trending_up</i><br/>
        Moje statystyki
      </div>
    </a>

    <a routerLink="/driver/vacation-request" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">airplanemode_active</i><br/>
        Wyślij wniosek o urlop
      </div>
    </a>

    <a routerLink="/driver/report-failure" routerLinkActive="active">
      <div class="tile tile-mid">
        <i class="material-icons">build</i><br/>
        Zgłoś usterkę
      </div>
    </a>


  </div>

  <div class="square">
    <div class="tile tile-data">
      <h1>Moje dane</h1>
      {{name}}<br>
      {{email}}<br>
      PESEL: {{pesel}}<br><br>
      Badania lekarskie ważne do <br>
      {{driver?.medicalExaminationExpiryDate | date: 'dd-MM-yyyy'}}<br>
      <div class="button" (click)="onOpenExtendMedicalExaminationDialog()">
        Przedłuż
      </div>
      <br>
      Prawo jazdy ważne do <br>
      {{driver?.drivingLicenceExpiryDate | date: 'dd-MM-yyyy'}}<br>
      <div class="button" (click)="onOpenExtendDrivingLicenceDialog()">
        Przedłuż
      </div>
      <br>
      <a routerLink="/driver/edit-driver" routerLinkActive="active">
        <div class="button" >
          Edytuj moje dane
        </div>
      </a>

    </div>
  </div>

  <div style="clear: both"></div>
  <div class="footer"></div>
</div>
