.UsersContainer {
  width: auto;
  padding: 20px;
  text-align: center;
  /*background-color: #66a2ef;*/
  margin-left: auto;
  margin-right: auto;
}

.TableColHead {
  font-weight: bold;
  font-size: 15px;
}

.button-container {
  margin-right: 80px;
}

