<br />
<br />
<br />


<div fxLayout="column" fxLayoutGap="30px">
    <div class="button-container" fxFlex="row" fxLayoutAlign="end" fxLayoutGap="30px">
      <button mat-raised-button color="primary" (click)="onOpenAddUserDialog()">Dodaj użytkownika</button>
      <button mat-raised-button color="primary" (click)="refresh()" style="float: right; margin: 20px 200px;">Odśwież</button>
    </div>


  <div>
    <mat-table class="UsersContainer mat-table mat-elevation-z24" [dataSource]="datasource">

      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef class="TableColHead">L.p.</mat-header-cell>
        <mat-cell *matCellDef="let i = index">{{(i+(pageIndex)*pageSize)+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef class="TableColHead">E-mail</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.pesel}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Name</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Surname</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.surname}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="TableColHead">E-mail</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.email}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Login</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.login}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idNumber">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Numer dowodu</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.idNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nip">
        <mat-header-cell *matHeaderCellDef class="TableColHead">NIP</mat-header-cell>
        <mat-cell *matCellDef="let user" >
          <div *ngIf="user.firm!=null">{{user.firm.nip}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef class="TableColHead">NIP</mat-header-cell>
        <mat-cell *matCellDef="let user" >
          <div >{{user.type}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
        <mat-cell *matCellDef="let user" >
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Edytuj</span>
            </button>
            <button mat-menu-item (click)="deleteUserClick(user.pesel)">
              <mat-icon>edit</mat-icon>
              <span>Usuń</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   [showFirstLastButtons]="true"
                   (page)="pageEvent = onPageEvent($event)"
    >
    </mat-paginator>
  </div>



</div>



<br />
<br />
<br />
<br />
<br />

<!--<app-add-user></app-add-user>-->
