<div class="container">

  <h1>Twoi kierowcy</h1>

  <a routerLink="/shipper" routerLinkActive="active">
    <button mat-raised-button color="primary">Powrót</button>
  </a>


  <button mat-raised-button (click)="refresh()" style="margin-left: 88%">
    Odśwież
  </button>

  <div class="table-container mat-elevation-z8">

    <mat-table class="UsersContainer mat-table" [dataSource]="datasource" >

      <ng-container matColumnDef="index" >
        <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 40px;">L.p.</mat-header-cell>
        <mat-cell *matCellDef="let i = index" style="flex: 0 0 40px;">{{i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Pesel</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.pesel}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 100px;">Imię</mat-header-cell>
        <mat-cell *matCellDef="let user" style="flex: 0 0 100px;">
          {{user.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Nazwisko</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.surname}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="TableColHead" style="flex: 0 0 250px;">E-mail</mat-header-cell>
        <mat-cell *matCellDef="let user" style="flex: 0 0 250px;">
          {{user.email}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Login</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.login}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idNumber">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Numer dowodu</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.idNumber}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Status</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.state}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="stateDescr">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Status</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{user.stateDescr}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="TableColHead">Akcja</mat-header-cell>
        <mat-cell *matCellDef="let user" >
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">

              <!--<button mat-menu-item (click)="loadDetails();">-->
                <!--<mat-icon>zoom_out_map</mat-icon>-->
                  <!--<span>Wyświetl szczegóły</span>-->
              <!--</button>-->

            <button mat-menu-item (click)="makeDriverFired(user.pesel)">
              <mat-icon>cancel</mat-icon>
              <span>Zwolnij</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </div>

  <div *ngIf='loadComponent'>
    <app-show-details></app-show-details>
  </div>
</div>
