.container{
  width: auto;
  padding: 20px;
  height: 500px;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
}

.table-container{
  overflow: auto;
  height: 300px;
}

button{
  margin-bottom: 20px;
}

table{
  width: 80%;
}

h1{
  text-align: center;
  font-size: 40px;
}


a:link    {color:#000;
text-decoration: none;
}
a:visited {color:#000;}
a:hover   {color:#000;}
a:active  {color:#000;}
