<div class="container">

  <a routerLink="/customer" routerLinkActive="active">
    <button mat-raised-button color="primary" >Powrót</button>
  </a>

  <form class="example-container mat-elevation-z24" [formGroup]="userForm">

    <mat-label>Edytuj swoje dane</mat-label>

    <mat-form-field>
      <input matInput placeholder="Imię" formControlName="name" value = {{name}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nazwisko" name="surname" formControlName="surname" value = {{surname}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Hasło" name="password" type="password" formControlName="password" value = {{password}}>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="E-mail" name="email" formControlName="email" value = {{email}}>
      <mat-error *ngIf="userForm.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nr dokumentu" name="idNumber" formControlName="idNumber" value={{idnumber}}>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveUserClick()" [disabled]="userForm.invalid">Zapisz</button>
  </form>
</div>
