.example-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px;
  clear: right;
}

.container {
  margin-top: 20px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 100%;
}

.save-user{
  width: 100px;
  float: right;
}
